:root {
  	/* Fondos */
	--color-fondo-principal: #f9f9f9;   /* Blanco ligeramente oscuro */
	--color-fondo-secundario: #ffffff;  /* Blanco puro para secciones o tarjetas */
	--color-fondo-menu: #c5c5c5;

	/* Texto */
	--color-texto-principal: #000000;   /* Negro sólido para títulos y texto importante */
	--color-texto-secundario: #4a4a4a; /* Gris oscuro para subtítulos o textos destacados */
	--color-texto-terciario: #7a7a7a;  /* Gris medio para descripciones o notas */

	/* Opcional: acentos */
	--color-acento: #c0392b;           /* Rojo oscuro para botones o llamadas a acción */

	--color-links: #279E47;
	--color-links-hover: #0181C7;

	/* Fondos de CLIENTE-RESTAURANTE*/
	--color-bg-customer: #023656;
	--color-text-customer: #f9f9f9;
}


body {
	margin: 0;
	display: flex;
	flex-direction: column;
	place-items: center;

	background-color: var(--color-fondo-principal);
	color: var(--color-texto-principal);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--color-texto-principal);
	margin: 0 0 0.5em 0;
}

p {
	color: var(--color-texto-secundario);
	margin: 0 0 1em 0;
}

